#index{
    background: #C7605A;
}
body{
    margin: 0px;
    font-family:'Josefin Sans';
    font-style: normal;
}
nav{
    display:flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color: #7A3A37;
    background: #FCE6EC;
}
a{
    color:#7A3A37;
    text-decoration: none;
}
a:hover{
    color:gray;
}
@media (max-width: 900px) {
    nav {
      flex-direction: column;
    }
  }
#bienvenidos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#titulo{
    border-radius: 50px;
    background-color: #FCE6EC;
    padding: 15px 40px 10px 40px;
    color:#7A3A37;
    font-size: 50px;
    margin-bottom: 0px;

}
#sub{
    display: flex;
    justify-content: center;
    color:#FCE6EC;
    font-weight: normal;
    font-size: xx-large;
}
#descripcion{
    display: flex;
    justify-content: center;
    text-align: center;
}
#texto{
    font-size: 40px;
    color:#FBBFBC;
    margin-top: 100px;
    margin: 4% 10%;
    margin-bottom: 2%;
}
#pie{
    display: flex;
    justify-content: center;
}
#pietext{
    font-size: 40px;
    color:#7A3A37;
    margin-top: 100px;
    background-color: #FCE6EC;
    border-radius: 50px;
    padding: 0px 100px;
    padding-top: 5px;
    margin: 5% 20%;
    margin-bottom: 5%;
    text-align: center;
}
/*---------------------------------------------------*/

#experiencia{
    background-color: #247D4E;
}
#navexp{
    background-color:#85E1B0;
}
.exp{
    color:#365C48;
}
.titu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#titulo2{
    border-radius: 50px;
    background-color: #85E1B0;
    padding: 15px 40px 10px 40px;
    color:#365C48;
    font-size: 50px;
    margin-bottom: 0px;
}
.parrafo{
    display: flex;
    justify-content: center;
    text-align: center;
}
#parrafoexp{
    font-size: 40px;
    color:#85E1B0;
    margin-top: 100px;
    margin: 12% 12%;
    margin-bottom: 2%;
}

/*----------------------------------------*/

#objetivos{
    background-color: #4E2985;
}
#navobj{
    background-color: #CEB9ED ;
}
.obj{
    color: #4E2985;
}
.titu2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#titulo3{
    border-radius: 50px;
    background-color: #CEB9ED ;
    padding: 15px 40px 10px 40px;
    color:#4E2985;
    font-size: 50px;
    margin-bottom: 0px;
}
.parrafo2{
    display: flex;
    justify-content: center;
    text-align: center;
}
#parrafoobj{
    font-size: 40px;
    color:#CEB9ED;
    margin-top: 100px;
    margin: 12% 12%;
    margin-bottom: 2%;
}