#index{
    background: #C7605A;
}
body{
    margin: 0px;
    font-family:'Josefin Sans';
    font-style: normal;
    height: 100vh;
}
nav{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #7A3A37;
    background: #FCE6EC;
}
a{
    color:#7A3A37;
    text-decoration: none;
}
a:hover{
    color:gray;
}
@media (min-width: 900px) {
    nav {
        flex-direction: row;
        font-size: 2rem;
    }
}
#bienvenidos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#titulo{
    border-radius: 50px;
    background-color: #FCE6EC;
    padding: 15px 40px 10px 40px;
    color:#7A3A37;
    font-size: 3rem;
    margin-bottom: 0px;

}
#sub{
    display: flex;
    justify-content: center;
    color:#FCE6EC;
    font-weight: normal;
    font-size: xx-large;
}
#descripcion{
    display: flex;
    justify-content: center;
    text-align: center;
}
#texto{
    font-size: 40px;
    color:#FBBFBC;
    margin-top: 100px;
    margin: 4% 10%;
    margin-bottom: 2%;
}
#pie{
    display: flex;
    justify-content: center;
}
#pietext{
    font-size: 1.2rem;
    color:#7A3A37;
    margin-top: 50px;
    background-color: #FCE6EC;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    #pietext {
        padding: 0px 100px;
        padding-top: 5px;
        display: none;
    }
}

#img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    background-color: #7A3A37;
    margin: auto;
    width: 20rem;
    height: 8rem;
    margin-top: 5rem;
    border-radius: 7rem;
    color: #FCE6EC; 
}

#foto {
    border-radius: 100%;
    height: 128px;
    width: 126px;
}

@media(min-width: 768px) {
    #img {
        width: 30rem;
    }

    #foto {
        height: auto;
        width: auto;
    }
}


/*---------------------------------------------------*/

#experiencia{
    background-color: #247D4E;
}
#navexp{
    background-color:#85E1B0;
}
.exp{
    color:#365C48;
}
.titu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#titulo2{
    border-radius: 50px;
    background-color: #85E1B0;
    padding: 15px 40px 10px 40px;
    color:#365C48;
    font-size: 3rem;
    margin-bottom: 0px;
}
.parrafo{
    display: flex;
    justify-content: center;
    text-align: center;
}
#parrafoexp{
    font-size: 40px;
    color:#85E1B0;
    margin-top: 100px;
    margin: 12% 12%;
    margin-bottom: 2%;
}

/*----------------------------------------*/

#objetivos{
    background-color: #4E2985;
}
#navobj{
    background-color: #CEB9ED ;
}
.obj{
    color: #4E2985;
}
.titu2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#titulo3{
    border-radius: 50px;
    background-color: #CEB9ED ;
    padding: 15px 40px 10px 40px;
    color:#4E2985;
    font-size: 3rem;
    margin-bottom: 0px;
}
.parrafo2{
    display: flex;
    justify-content: center;
    text-align: center;
}
#parrafoobj{
    font-size: 40px;
    color:#CEB9ED;
    margin-top: 100px;
    margin: 12% 12%;
    margin-bottom: 2%;
}

/*----------------------------------------*/

#sobremi{
    background-color: #078085;
}
#navsobremi{
    background-color: #93D0D1;
}
.sobremi{
    color: #078085;
}
.titu3{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#titulo4{
    border-radius: 50px;
    background-color: #93D0D1 ;
    padding: 15px 40px 10px 40px;
    color:#078085;
    font-size: 3rem;
    margin-bottom: 0px;
}
#lista{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
#sobremilist{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0%;
    font-size: 2rem;
    color:#93D0D1;
    margin-top: 100px;
    list-style: none;
}

/*----------------------------------------*/

#educacion {
    background-color:#616039;
}

#nav-edu{
    background-color:#E6E287 ;
}

#nav-edu a {
    color: #616039;
}

#titulo5{
    text-align: center;
    border-radius: 50px;
    background-color: #E6E287;
    padding: 15px 20px 10px 20px;
    color:#616039;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#div-sub{
    display:flex;
    justify-content: center;
}
#sub-edu{
    border-radius: 50px;
    background-color: #E6E287;
    padding: 15px 40px 10px 40px;
    font-size: 50px;
    font-size:xx-large;
    color:#616039;
    margin-top: 5rem;
}

#descripcion-edu p {
    color: #E6E287;
    text-align: center;
}

/*-----------------------------------------------------*/

#proyectos{
    background-color: #0F41B3;
}

#nav-proyectos {
    background-color: #5782E6;
}

#nav-proyectos a {
    color: #0F41B3;
}

#titulo-proyectos {
    text-align: center;
    border-radius: 50px;
    background-color: #5782E6;
    padding: 15px 20px 10px 20px;
    color: #0F41B3;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#parrafopym{
    display: flex;
    justify-content: center;
    text-align: center;
}

#pymp{
    font-size: 40px;
    color:#CEB9ED;
    margin-top: 1rem;
    margin: 12% 12%;
    margin-bottom: 2%;
}